body {
  margin: 0;
  padding: 0;
}
.cuadro-general {
  height: 980px;
  width: 1050px;
  margin: 70px auto;
  padding: 40px;
  border: 2px solid #f7f3f3;
  border-radius: 10px;
  background-color: #f2f2f2;
 
}
header {
  text-align: 1px 1px 2px rgba(0, 0, 0, 1.5);
  color: rgb(1, 0, 0);
  text-align: center;
  padding: 3px;
}


.octagon-container {
  
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px; /* Ajusta el tamaño de la imagen */
  clip-path: polygon(50% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  right: 300px;
  transform: translateY(+30px);
}

.octagon-container img {
  
  width: 80%;
  height: 80%;
  object-fit: cover;
  clip-path: polygon(50% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  
}
#izq{
  width: 48%;
  float: left;
  background-color: #f7f3f3;
  line-height: 0.9;
  text-align: right

}
#der{
  width: 49%;
  float: right ;
  background-color: #f2f2f2;
  line-height: 1.7; /* Puedes ajustar el valor según tus necesidades */
}
.cuadro {
  border: 1px solid rgb(6, 15, 14); /* Borde negro de 1px */
  padding: 5px; /* Espacio interno de 5px */
  display: inline-block;
  background-color: rgb(3, 7, 7); 
  color: rgb(243, 238, 230);
}
.cuadro-rojo{
  border: 1px solid rgb(254, 11, 11); /* Borde negro de 1px */
  padding: 1px; /* Espacio interno de 5px */
  display: inline-block;
  background-color: rgb(249, 17, 17); 
  color: rgb(243, 238, 230);
  
}
#contactowatsapp{
  width: 64px;
  position: fixed;
  right: 20px;
  bottom: 20px;

}
footer{
  text-align: center;
  padding: 10px;
  background-size:cover;
}
